.this-week-element {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
	padding: 15px;
	transition-property: background-color, color;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
.this-week-element:hover {
	background-color: #adb5bd;
	color: #343a40;
}
.day-and-date {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 40%;
}
.day {
	font-size: 20px;
}

.date {
	opacity: 0.5;
}

.temp {
	font-size: 20px;
	font-weight: bold;
}
