.side-panel {
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: 2px solid rgba(255, 255, 255, 0.1);
    position: relative;
    transition-property: left;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.logo {
    padding: 10%;
    font-size: 3.5vw;
    font-weight: 700;
    margin-bottom: 10vh;
}

.side-panel-elements {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.side-panel-element {
    font-size: 28px;
    padding: 15px;
    padding-left: 20%;
    text-decoration: none;
    color: white;
}

.selected {
    border-right: 2px solid white;
    background-color: rgba(255, 255, 255, 0.1);
}

.copy-rights{
    position: absolute;
    color: white;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 20px;
    opacity: 0.8;
    text-decoration: none;
}
.copy-rights:hover{
    opacity: 1;
}

@media(max-width: 750px){
    .side-panel {
        position: fixed;
        top: 0;
        width: 70%;
        height: 100vh;
        z-index: 1;
        background-color: #212529;
    }
    .logo {
        font-size: 46px;
    }
    .closed{
        left: -100%;
    }
    .open {
        left: 0;
    }
}

.closed{
    /* hehe */
}
.open {
    /* hehe */
}