.main{
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    gap: 30px;
    justify-content: space-evenly;
    min-height: 100vh;
}

.small-cards {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
}

@media(max-width: 750px){
    .main{
        width: 100%;
        padding-top: 10px;
    }
    .small-cards{
        width: 100%;
    }
}

@media(max-width: 600px){
    .small-cards{
        display: flex;
        flex-direction: column;
    }
}